
@{
    ViewBag.Title = "Index";
}

<div id="wrapper">
    <div class="featured-background">
        <div class="float-left"></div>
        <div class="float-left"></div>
        <div class="float-left"></div>
    </div> <!--end featured div-->

       <div class="featured">
      <div class="float-left">
            <img src="Images/Charitable_Logo.jpg" alt="Charity Logo" class="featured_image"/ >
            <h4>Charitable Organizations</h4>
            <p>Does your organization need assistance with 
            I.T. ? with organizing and managing it’s constituents ? with keeping inventory ? using social media? with using 
            technology to support the goals of your mission ?   Then… Join Project Give I.T. and see how Giving I.T. 
            professionals can be when Given the Opportunity.</p>
      </div>
      <div class="float-left">
          <img src="Images/Laptop.png" alt="Laptop" class="featured_image"/>
          <h4>Professional I.T. Volunteers</h4>
          <p>Have you always wondered if you use the key board instead of hammer  to help out local charities ?
              Join Project Give I.T. and we can assist in matching you up with a charity that meets your personal 
              and professional passion!</p>

      </div>
      <div class="float-left">
          <img src="Images/Corporations.png" alt="Charitable Organizations" class="featured_image"/>
          <h4>Volunteer Organizations</h4>
          <p> Looking for  charitable opportunities for your I.T. professionals?  Join Project Give I.T. We can support you in
              matching your I.T. employees with local Charitable organizations congruent with your corporate goals. In addition 
              Project Give IT can provide real time reporting of hours and employee participation.  Start making an impact and 
              Contact us today !!</p>

        </div>
    </div> <!--end featured div-->
</div><!--end wrapper div-->